{syntax double}{block title}{_generator.template.{{lcfirst($table->sanitizedName)}}.change.title, $primaryKey}{/block}
			<div class='modal-window' l:block='table'>
				<form l:name='change{{$foreignKeys === \Utils\Constants::FOREIGN_KEYS_TABLE ? Table : Select}}' l:inner-foreach='$form->controls as $input' role='form'>
					<div l:if='!$input instanceof \Nette\Forms\Controls\HiddenField' class='form-group'>
						{label $input->name}{/label}
						{if $input instanceof \Nette\Forms\Controls\SubmitButton}
						{input $input->name class => 'btn btn-primary'}
						{else}
						{if $input->control->attrs['type'] === 'datetime'}
						<div class='input-group date date-full' data-date-format='YYYY-MM-DD HH:mm:ss'>
							{input $input->name class => 'form-control'}
							<span class='input-group-addon'><span class='glyphicon glyphicon-calendar'></span></span>
						</div>
						{elseif $input->control->attrs['type'] === 'date'}
						<div class='input-group date date-only' data-date-format='YYYY-MM-DD'>
							{input $input->name class => 'form-control'}
							<span class='input-group-addon'><span class='glyphicon glyphicon-calendar'></span></span>
						</div>
						{elseif $input->control->attrs['type'] === 'time'}
						<div class='input-group date time-only' data-date-format='HH:mm:ss'>
							{input $input->name class => 'form-control'}
							<span class='input-group-addon'><span class='glyphicon glyphicon-time'></span></span>
						</div>
						{else}
						{input $input->name class => 'form-control'}
						<a l:ifset='$input->control->attrs["data-table-target"]' href='#' onClick='window.open({plink $input->control->attrs['data-table-target'] target => $input->name});'>{_generator.common.component.control.table}</a>
						{/if}
						{/if}
					</div>
				</form>
			</div>
			<script type='text/javascript' l:block='jsControl'>
				$('select').selectpicker();
				$('select').ajaxSelectPicker();
			</script>